
*{
    padding: 0;
    margin:0;
}

body{
    background-color: rgb(230,200,149);
}
header{
    background-color: rgb(230,200,149);
}

#contenedor{
    width: 900px ;
    height: 1000px;
    background-color: bisque;
    max-width: 0 auto;

}
#encabezado{
    height: 15%;
    background-color: rgb(176, 125, 63);
    margin: auto;
    text-align: center;


}

#contenido{
    height: 70%;
    width: 64%;
    float: left;
    
    background-color: rgb(151,158,54);

}

#barraNavegacion{
    height: 5%;
    margin: 1em auto;
    background-color: rgb(171,161,134);

}



#asize{
    height: 70%;
    width: 35%;
    background-color: rgb(190,193,79);
    float: right;
}

#pieNavegacion{
    height: 10%;
    background-color: rgb(230,200,149);
    text-align: center;
    
}

ul{
    text-align: center;

}

li{
    margin: auto 2em;
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.texto{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-left: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.img{
    width: 100px;
    height: 100px solid;
    border: 1px solid;
    margin-left: 5px;
    margin-right: 5px;
}